<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>


<body style="background: #EAF0F6;">
  <div class="wrapper" style="
    max-width: 650px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 14px;
  line-height: 1.4;
  ">
    <img src="https://blueonion-bucket.s3.ap-southeast-1.amazonaws.com/public/BlueOnion+Logo+-+Dark+1.png" alt="">
  </div>
    <div class="wrapper" style="
                                width: 612px;
                                font-family: 'Poppins rev=1';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 150%;
                                text-align: center;
                                color: #4B4B4B;
                                margin: 0 auto;
                                background-color: #fff;
                                padding: 30px;
                              ">
        <h3 style="text-align: center">Password Reset</h3>
        <p>
          If you’ve lost your password or wish to reset it, click on the button below to get started. This password reset link will expire in 30 minutes.
        </p>
        <div style="text-align: center;">
          <a href="<urlForgot>" style="background: #3698FC;
                        border: none;
                        border-radius: 6px;padding: 8px 12px;
                        width: 191px;
                        height: 48px;">
            <span style="color: #FFFFFF; font-size: 16px;">
              Reset Your Password
            </span>
          </a>
        </div>
        <p>
          Or copy and paste the URL into your browser:
        </p>
        <p style="word-break: break-word;">
          <a href="<urlForgot>" style="text-decoration-line: underline; font-weight: 400;color: #3698FC;flex: none;
          order: 1;
          flex-grow: 0;"> <urlForgot>
          </a>
        </p>
        <p>
          If you did not request a password reset, you can safely ignore this email. Only a person with access to your email can reset your account password.
        </p>
    </div>

        <div style="width: 612px;
          margin: 45px auto;
          bottom: 10px;font-size: 12px;
          text-align: center;
        ">
            <p style="margin: 0; margin-bottom: 16px">
                <span style="color: #052E5C;">BlueOnion,</span> 21/F. Cityplaza Three, 14 Taikoo Wan Road
            </p>
        </div>
</body>

</html>
