
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WELCOME</title>
    <style>

       @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        p, h1, h2, h3 {
          font-family: 'Poppins', sans-serif;
        }
     </style>
</head>

<body style="background: #EAF0F6;">
  <div class="wrapper" style="
    max-width: 650px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 45px;
  ">
    <img src="https://blueonion-bucket.s3.ap-southeast-1.amazonaws.com/public/BlueOnion+Logo+-+Dark+1.png" alt="">
  </div>
    <div class="wrapper" style="
                                width: 612px;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 150%;
                                color: #4B4B4B;
                                margin: 0 auto;
                                background-color: #fff;
                                padding: 30px;
                              ">
        <h3 style="text-align: center">Welcome to BlueOnion!</h3>
        <div style="text-align: center;">
          <img src="https://blueonion-bucket.s3.ap-southeast-1.amazonaws.com/public/Illustration.png" alt="">

        </div>
        <p>
          <strong>Dear <Username>,</strong>
        </p>
        <p>
          Welcome to BlueOnion - we're excited to see you here!
        </p>
        <p>
          We are here to help make sure you get what you expect from BlueOnion, so don't hesitate to reach out with questions.
        </p>
        <p>
            Start exploring BlueOnion here:
            <br>
            <a href="<hubsUrl>"><hubsUrl></a>
            <br>
            Username: <Username>
            <br>
            Email: <Email>
            <br>
            Password: <Password>
            <br>
         </p>

        <p>
          Happy peeling!!!!
        </p>
        <p>
          <strong>Regards,</strong>
        </p>
        <p>
          <strong>Team Support</strong><br>
          Email: <span style="color: #3698FC;">Client.Support@blueonion.today</span>
        </p>


    </div>
</body>

</html>
